{:deps {clojure.java-time {:mvn/version "0.3.2"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {expectations/clojure-test {:mvn/version "1.2.1"}
                org.clojure/test.check {:mvn/version "1.0.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"
               "-r" ".*expectations$"]}
  :jar
  {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
   :main-opts ["-m" "hf.depstar.jar" "web-specs.jar"]}
  :deploy
  {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "web-specs.jar"]}}}
